{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "jsx-a11y", "import", "tachyons-jsx"],
  "env": {
    "browser": true
  },
  "rules": {
    "react/jsx-one-expression-per-line": "off"
  }
}
