<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1><%= @user.first_name + ' ' + @user.last_name %> Applied to <%= @project.title %>!</h1>
        <p>Other body stuff...</p>
    </body>
</html>
