<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1><%= @application.project.organization.name %> Decided On Your Application</h1>
        <p>Your app is <%= @application.status %>.</p>
    </body>
</html>
