@import 'https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900';
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:400,500';
@import "partials/variables";

body {
  color: $black;
  font-family: $font-stack;
  font-size: 16px;
  line-height: 1.5;
}

::selection {
  background: $black-80;
  color: white;
}
::-moz-selection {
  background: $black-80;
  color: white;
}

a,
.link {
  color: $green;
  font-size: inherit;
  font-weight: 500;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link--white {
  color: $snow-80;

  &:hover {
    color: $snow;
  }
}

.link--no-underline:hover {
  text-decoration: none;
}

.alert-text {
  color: $alert;
}

.hover-alert:hover {
  color: $alert !important;
}
