/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require tachyons
 */

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    --fire-focus-outline-color: rgba(3,155,229,0.5);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-family: Impact;
    line-height: normal;
    color: #000000;
}
a {
    line-height: 20px;
    margin-top: 8px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    text-decoration: none;
}

h2 {
    font-family: Impact;
    font-size: 38px;
    line-height: normal;
    color: #000000;
    margin: 0;
}

h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: normal;
    margin: 0;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    cursor: pointer;
    background-color: auto;
    color: auto;
    font-weight:bold;
    color: black;
    background-color:transparent;
}

button, .button {
    background-color: #039be5;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    --fire-focus-outline-color: rgba(255,255,255,0.6);
    padding-left: 16px;
    padding-right: 16px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    text-transform: none;
    letter-spacing: .25px;
    min-width: 60px;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 14px;
    font-weight: 500;
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
}

button:hover, .button:hover {
    cursor:pointer;
}

input:focus {
    outline:none;
}

input.input {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.alert-show {
    transition: all 1s ease-out;
    opacity: 1;
    visibility: visible;
}

.alert-hidden {
    transition: all 1s ease-out;
    opacity: 0;
    visibility: hidden;
}

.accept-button {
    width: auto;
    height: auto;
    background-color: #EFE137;
    color: black;
    font-family: 'Lato';
    cursor: pointer;
    border-style:solid;
    border-width:.5px;
    text-decoration: bold;
}

.deny-button {
    width: auto;
    height: auto;
    background-color: #db3236;
    color: white;
    font-family: 'Lato';
    cursor: pointer;
    border-style:solid;
    border-width:.5px;
    border-color:black;
    text-decoration: bold;

}

.std-button, .std-button:link, .std-button:visited {
    background-color: #EFE137;
    text-decoration: none;
    color: #000;
    margin: 0;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}

.std-button-black, .std-button-black:link, .std-button-black:visited {
    background-color: #000;
    text-decoration: none;
    color: #FFF;
    margin: 0;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #FFF;
}

.std-button-white, .std-button-white:link, .std-button-white:visited {
    background-color: #FFF;
    text-decoration: none;
    color: #000;
    margin: 0;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}

.disable-selection {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.dropdown-scroller {
    overflow-y: scroll;
    max-height: 150px;
}

.std-button:hover, .std-button:active {
    background-color: #DACD23;
    color: #000;
}

.std-button-black:hover, .std-button-black:active {
    background-color: #FFF;
    color: #000;
    border-color: #000;
}

.std-button-white:hover, .std-button-white:active {
    background-color: #000;
    color: #FFF;
    border-color: #FFF;
}

.essay-box {
    border: 0;
    outline: none;
    resize: none;
    overflow: auto;
}

.rt-yellow-bg {
    background-color: #EFE137;
}

.white {
    color: #FFF;
}

.black {
    color: #000;
}

.grey {
    background: #F2F2F2;
}

.light-grey-2 {
    color: #B9B9B9;
}

.light-grey {
    color: #D9D9D9;
}

.resume-button {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    color: #FDFDFD;
    text-decoration: none;
}

.resume-button:hover {
    transition: .15s ease-in;
    box-shadow: 1px 1px 6px 1px #000;
    background: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: #FDFDFD;
}

.button-wrapper {
    color: #fff;
}

.container {
    padding-top: 80px;
}

.project-card {
    width: 296px;
    margin: 0 12px 24px;
    box-sizing: border-box;
    display: inline-block;
}

.project-card-container {
    display: block;
    border-radius: 8px;
    color: rgba(0,0,0,0.87);
    background-color: rgb(255,255,255);
    cursor: pointer;
    height: 204px;
    padding: 16px 20px 20px 20px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3), 0 1px 3px 1px rgba(60,64,67,0.15)
}

.project-card-container:hover {
    background-color: rgb(230,230,230);
}

.project-name {
    color: rgba(0,0,0,0.87);
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    word-wrap: break-word;
}

.bg-image {
    background-image: url('/images/bg.jpg'); 
    background-size: cover;
}

.card-center-text {
    color: #039be5;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.center-card {
    text-align:center;
    line-height: 34px;
}

.center-card span {
}

.card-icons {
    font-size: 48px;
    margin: 8px;
    font-family: "Material Icons Extended";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    speak: none;
    text-decoration: none;
    -webkit-user-select: none;
}

.project-description {
    color: rgba(0,0,0,0.54);
    -webkit-align-self: flex-start;
    align-self: flex-start;
    color: rgba(0,0,0,0.38);
    cursor: text;
    font-size: 14px;
    line-height: 20px;
    margin: 0 -2px;
    min-width: 0;
    padding: 0 2px;
    word-wrap: break-word;
}

.flex {
    min-height: 0;
    flex: 1;
    box-sizing: border-box;
    color: rgba(0,0,0,0.87);
}

.blue-container {
    background-color: #039be5;
}

.form-container {

}

.input-contianer {
    padding-bottom: 44px;
}
.no-link {
    text-decoration: none;
}

.hr-navbar {
    border: 0px;
    height: 6px;
    background: black;
}

.lato {
    font-family: 'Lato'
}

.ul {
    list-style-type: none;
    font-family: 'Lato'
}

.bg-accent {
    background-color: #EFE137;
}

.font-accent {
    color: #EFE137;
}

.proj-card {
    width: 16rem; 	
    height:18rem;
    cursor: pointer;
    color:white;
    background-color:black;
}

.proj-card:hover {
    background-color: #EFE137;
    color:black;
}

.pic-height {
    height:10rem;
}

.ul {
    list-style-type: none;
    font-family: 'Lato'
  }

.logo-navbar {
  padding-top: 9px;
  width: 20rem;
  height: auto;
  cursor: pointer;
}

.navbar {
  padding-top: 16px;
  width: 100%;
  background-color: #EFE137;
  position: fixed;
  height: 80px;
  overflow: visible;
}

.dropdown {
    float: left;
    width:10rem;
}
  
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: block;
    position: fixed;
    background-color: #f9f9f9;
    height: auto;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    font-weight:bold;
}

.show {
    display: block;
}

.container-label {
    color: rgba(0,0,0,0.54);
    display: block;
    font-size: 13px;
    padding-bottom: 8px;
}

.accepted {
    background-color: #3cba54;
}

.withdraw {
    background-color: #db3236;
}

.denied {
    background-color: #db3236;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
      
}

fieldset {
    border: 0;
}





