/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require tachyons
 */

@import url("https://fonts.googleapis.com/css?family=Lato:400, 700|Roboto:400,500");

body {
  background-color: #ffffff;
  font-family: "Lato", "Helvetica Neue", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

h1 {
  font-family: "Impact", sans-serif;
  font-weight: lighter;
  font-size: 2.25rem;
}
a {
  line-height: 20px;
  margin-top: 8px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  text-decoration: none;
  color: black;
}

h2 {
  font-family: Impact;
  font-size: 38px;
  line-height: normal;
  color: #000000;
  margin: 0;
}

h2.reg_modal {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  font-weight: lighter;
  font-size: 1.9rem;
}

h3 {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  font-size: 1.25rem;
  margin: 0 0 0.25rem 0;
  font-weight: normal;
}

p {
  font-family: "Lato", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

a {
  color: rgba(0, 0, 0, 0.54);
}

a:hover {
  cursor: pointer;
  background-color: transparent;
  color: #eee037;
}

.error {
  color: #db3236;
}

section {
  margin-bottom: 1.5rem;
}

label {
  display: flex;
  flex-direction: column;
}

input,
textarea,
select {
  padding: 0.5rem 1rem;
  border-style: none;
  background-color: #f2f2f2;
  width: 100%;
}

input.input {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.pt3-5 {
  padding-top: 3.5rem;
}

.pt4-5 {
  padding-top: 4.5rem;
}

.pt5-75 {
  padding-top: 5.75rem;
}

.alert-show {
  transition: all 1s ease-out;
  opacity: 1;
  visibility: visible;
}

.alert-hidden {
  transition: all 1s ease-out;
  opacity: 0;
  visibility: hidden;
}

.std-button,
.std-button:link,
.std-button:visited {
  background-color: #efe137;
  text-decoration: none;
  color: #000;
  margin: 0;
  text-align: center;
  font-size: 12px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
}

.std-button-black,
.std-button-black:link,
.std-button-black:visited {
  background-color: #000;
  text-decoration: none;
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 12px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
}

.std-button-white,
.std-button-white:link,
.std-button-white:visited {
  background-color: #fff;
  text-decoration: none;
  color: #000;
  margin: 0;
  text-align: center;
  font-size: 12px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
}

.disable-selection {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.dropdown-scroller {
  overflow-y: scroll;
  max-height: 150px;
  z-index: 9997;
}

.flash-message {
  z-index: 9998;
}

.std-button:hover,
.std-button:active {
  background-color: #efe137;
  color: #000;
}

.std-button-black:hover,
.std-button-black:active {
  background-color: #fff;
  color: #000;
  border-color: #000;
}

.std-button-white:hover,
.std-button-white:active {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.essay-box {
  border: 0;
  outline: none;
  resize: none;
  overflow: auto;
}

.essay-box:focus {
  outline-width: 2px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
}

.rt-yellow-bg {
  background-color: #efe137;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.grey {
  background: #f2f2f2;
}

.light-grey-2 {
  color: #b9b9b9;
}

.light-grey {
  color: #d9d9d9;
}

.resume-button {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  color: #fdfdfd;
  text-decoration: none;
}

.resume-button:hover {
  transition: 0.15s ease-in;
  box-shadow: 1px 1px 6px 1px #000;
  background: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #fdfdfd;
}

.container {
}

.dropzone {
  background-color: #e0e0e0;
  opacity: 1;
}

.dropzone:hover {
  opacity: 0.5;
  transition: opacity 0.15s ease-in;
}

.dropzone:active {
  opacity: 0.8;
  transition: opacity 0.15s ease-out;
}

.bg-primary {
  background-color: #eee037;
}

.bg-dim {
  background-color: rgba(0, 0, 0, 0.5);
}

.primary-color {
  color: #eee037;
}

.primary-border-color {
  border-color: #000000;
}

button {
  opacity: 1;
  transition: opacity 0.15s ease-in;
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  opacity: 0.5;
  transition: opacity 0.15s ease-in;
}

button:active {
  opacity: 0.8;
  transition: opacity 0.15s ease-out;
}

button:disabled {
  opacity: 0.3;
  cursor: default;
}

button {
  height: 2.8rem;
}

button {
  width: 9rem;
}

button.back-home {
  width: 10.7rem;
}

img.checkmark {
  width: 12rem;
  height: 12rem;
}

.modal {
  height: 20rem;
  width: 35rem;
}

.form-h {
  height: 26rem;
}

.progress-bar {
  height: 0.5rem;
}

.filler {
  border-radius: inherit;
  transition: width 0.2s ease-in;
}

.w-30r {
  width: 30rem;
}

.top--1-15 {
  top: -1.15rem;
}

.project-card {
  width: 296px;
  margin: 0 12px 24px;
  box-sizing: border-box;
  display: inline-block;
}

.project-card-container {
  display: block;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  height: 204px;
  padding: 16px 20px 20px 20px;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  justify-content: flex-start;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.project-card-container:hover {
  background-color: rgb(230, 230, 230);
}

.project-name {
  color: rgba(0, 0, 0, 0.87);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  word-wrap: break-word;
}

.bg-image {
  background-image: url("/images/bg.jpg");
  background-size: cover;
}

.card-center-text {
  color: #039be5;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.center-card {
  text-align: center;
  line-height: 34px;
}

.card-icons {
  font-size: 48px;
  margin: 8px;
  font-family: "Material Icons Extended";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
  speak: none;
  text-decoration: none;
  -webkit-user-select: none;
}

.project-description {
  color: rgba(0, 0, 0, 0.54);
  -webkit-align-self: flex-start;
  align-self: flex-start;
  color: rgba(0, 0, 0, 0.38);
  cursor: text;
  font-size: 14px;
  line-height: 20px;
  margin: 0 -2px;
  min-width: 0;
  padding: 0 2px;
  word-wrap: break-word;
}

.blue-container {
  background-color: #039be5;
}
.no-link {
  text-decoration: none;
}

.hr-navbar {
  border: 3px solid black;
  width: 304px;
}

.lato {
  font-family: "Lato";
}

.ul {
  list-style-type: none;
  font-family: "Lato";
}

.bg-accent {
  background-color: #efe137;
}

.font-accent {
  color: #efe137;
}

.proj-card {
  width: 16rem;
  height: 18rem;
  cursor: pointer;
  color: white;
  background-color: black;
}

.proj-card:hover {
  background-color: #efe137;
  color: black;
}

.user-card {
  width: 12rem;
  height: 12rem;
}

.icon-link:hover {
  color: grey;
  cursor: pointer;
}

.pic-height {
  height: 10rem;
  object-fit: cover;
}

.ul {
  list-style-type: none;
  font-family: "Lato";
}

.logo-navbar {
  padding-top: 18px;
  width: 20rem;
  height: auto;
  cursor: pointer;
}

.proj-card-size {
  width: 16rem;
  height: 18rem;
}

.pic-height {
  height: 10rem;
}

.compact {
  line-height: 50%;
}

.navbar {
  padding-top: 8px;
  width: 100%;
  height: 82px;
  background-color: #efe137;
  position: fixed;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
}

.shadow-bold:hover {
  text-shadow: 0px 0px 0.25px black;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  z-index: -1;
  display: block;
  position: fixed;
  right: 80px;
  top: 60px;
  background-color: #f9f9f9;
  height: auto;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.show {
  display: block;
}

.container-label {
  color: rgba(0, 0, 0, 0.54);
  display: block;
  font-size: 13px;
  padding-bottom: 8px;
}

.accepted {
  background-color: #3cba54;
}

.withdraw {
  background-color: #db3236;
}

.denied {
  background-color: #db3236;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
}

fieldset {
  border: 0;
}

.skill-pill {
  font-family: Lato;
  border-style: solid;
  border-width: 1px;
  margin: 8px;
  border-radius: 9999px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  display: inline-block;
}

.deliverable-pill {
  font-family: Lato;
  border-style: solid;
  border-width: 1px;
  margin: 8px;
  border-radius: 9999px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  display: inline-block;
  color: white;
  background-color: black;
}

.white-on-grey:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}
