<!DOCTYPE html>
<html>
  <head>
    <title>RisingTides</title>

    <%= javascript_pack_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

 </head>

  <body>
    <%= yield %>
  </body>
</html>
